
    {% extends "baseTemplate.html" %}
   
    {% block content %}
    <h2>New User Registration</h2>

    <div class="container">
        <form name="register" action="" method="post">
 

            <p>
                {{ registration.email.label}} <br>
                {{ registration.email(size=35)}}
            </p>
            <p>
                {{ registration.password.label}} <br>
                {{ registration.password(size=15)}}
            </p>
            <p>
                {{ registration.password_confirm.label}} <br>
                {{ registration.password_confirm(size=15)}}
            </p>
            <p>
                {{ registration.first_name.label}} <br>
                {{ registration.first_name(size=15)}}
            </p>
            <p>
                {{ registration.last_name.label}} <br>
                {{ registration.last_name(size=15)}}
            </p>
            <p>
                {{ registration.submit()}} 
                
            </p>
         
        </form>
    </div>
    {% endblock %}